header-item {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;

    background: darken($primary, 10%);
    //background: linear-gradient(darken($primary, 10%) 0%,darken($primary, 10%) 100%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    //border-bottom: 2px solid $primary;

    @media print {
      display: none;
    }

    .fa-times {
      transform: rotate(45deg);
      //color: $primary;
    }

    .home {
      font-weight: 900;
      float: left;
      position: absolute;
      left: 15px;
    }

    .img {
      line-height: 40px;
      height: 40px;
      margin: 5px;
      display: inline-block;

      img {
        height: 40px;
        margin-right: 10px;
      }
    }

    .header-menu {
      position: absolute;
      right: 15px;
      float: right;

      .menu-item {
        float: left;
        line-height: 48px;
        padding: 0 30px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        transition: .3s;
        cursor: pointer;
        //background: rgba(255,255,255,0.1);

        &:hover {
          //border-bottom: 2px solid #ccc;
        }

        &.active {
          //border-bottom: 2px solid #fff;

          background: rgba(0,0,0,0.1);
        }
      }
    }
  }
}