<script type="text/ng-template" id="form-list.html">
    <div class="form-list">

        <div class="container">
            <content-item>
                <content>
                    <div class="butn pull-right">Export to XLS</div>
                    <div class="butn pull-right" style="margin-right: 10px">Export to PDF</div>
                    <h1>Forms</h1>

                    <table-item>
                        <table-row>
                            <div class="flex-field" ng-init="formList.search = {}">
                                <div class="flex-label ng-binding">Universal Search</div>
                                <div class="flex-input"><input placeholder="-" ng-model="formList.search.$"></div>
                            </div>
                        </table-row>
                        <table-row>
                            <div class="flex-field">
                                <div class="flex-label ng-binding">Gender</div>
                                <div class="flex-input">
                                    <select class="ng-binding" ng-model="formList.search.gender">
                                        <option selected value="">All</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                            </div>
                        </table-row>
                        <table-row>
                            <div class="flex-field">
                                <div class="flex-label ng-binding">Nationality</div>
                                <div class="flex-input">
                                    <select class="ng-binding" ng-model="formList.search.nationality">
                                        <option selected value="">All</option>
                                        <option>American</option>
                                        <option>British</option>
                                        <option>French</option>
                                        <option>German</option>
                                        <option>Irish</option>
                                        <option>Mexican</option>
                                        <option>Portuguese</option>
                                        <option>Scottish</option>
                                        <option>Spanish</option>
                                    </select>
                                </div>
                            </div>
                        </table-row>

                        <!--<table-header label="Sort by"></table-header>-->
                        <table-row>
                            <div class="flex-label ng-binding">Sort By</div>
                            <div class="flex-input">
                                <select class="ng-binding" ng-model="formList.predicate" ng-init="formList.predicate = 'time'">
                                    <option value="time">Submitted</option>
                                    <option value="firstName">Name</option>
                                    <option value="age">Age</option>
                                    <option value="gender">Gander</option>
                                    <option value="nationality">Nationality</option>
                                </select>
                            </div>
                        </table-row>

                        <table-header label="Donor Details"></table-header>
                        <table-row>
                            <div class="flex-label" style="justify-content: center">Name</div>
                            <div class="flex-label" style="justify-content: center;min-width: 230px;">Email</div>
                            <div class="flex-label" style="justify-content: center;max-width: 70px;">Age</div>
                            <div class="flex-label" style="justify-content: center;max-width: 70px;">Gender</div>
                            <div class="flex-label" style="justify-content: center">Nationality</div>
                            <div class="flex-label" style="justify-content: center">Submitted</div>
                            <div class="flex-label" style="justify-content: center">Form Link</div>
                        </table-row>
                        <table-row ng-repeat="form in formList.getForms() | filter:formList.search | orderBy:formList.predicate">
                            <div class="flex-content" style="justify-content: center">{{form.firstName}} {{form.lastName}}</div>
                            <div class="flex-content" style="justify-content: center;min-width: 230px;">{{form.email}}</div>
                            <div class="flex-content" style="justify-content: center;max-width: 70px;">{{form.age}}</div>
                            <div class="flex-content" style="justify-content: center;max-width: 70px;">{{form.gender}}</div>
                            <div class="flex-content" style="justify-content: center">{{form.nationality}}</div>
                            <div class="flex-content" style="justify-content: center">{{form.time}}</div>
                            <div class="flex-content" style="justify-content: center">
                                <a class="butn" href="{{form.formUrl}}" target="_blank" style="min-width:auto;padding: 0 15px;">Open Form &nbsp;
                                    <i class="fa fa-angle-right"></i></a>
                            </div>

                        </table-row>
                    </table-item>
                </content>
            </content-item>
        </div>

    </div>
</script>