<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--to use real urls instead of hashes uncomment below-->
    <!--<base href="/">-->

    <title>Red Cross</title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/bootstrap.css"/>
    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,600,400italic,600italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="http://mrrio.github.io/jsPDF/jspdf.js"></script>
    <script src="http://mrrio.github.io/jsPDF/jspdf.plugin.from_html.js"></script>
    <script src="http://mrrio.github.io/jsPDF/jspdf.plugin.split_text_to_size.js"></script>
    <script src="http://mrrio.github.io/jsPDF/jspdf.plugin.standard_fonts_metrics.js"></script>

    <script src="https://rawgit.com/Xportability/css-to-pdf/master/js/xepOnline.jqPlugin.js"></script>

</head>
<body data-ng-app="app">

<div class="app">
    <div class="in-app" style="position: relative">
        <header-item></header-item>

        <!-- screen contents -->
        <div ui-view></div>
    </div>

</div>




<script type="text/ng-template" id="canvas.html">
    <div class="canvas">
        <div class="container">
            <h3>Sign here:</h3>
            <br>
            <canvas id="canvas"></canvas>
            <br>
            <br>

           <div class="btn btn-primary" ng-click="canvas.saveImg()">Save as image</div>
           <div class="btn btn-warning pull-right" ng-click="canvas.clear()">Clear</div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="content.html">
    <div class="content" id="print_me">
        <div class="container-fluid">
            <div ng-transclude="content"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div class="header">
        <div class="container-fluid">
            <strong><i class="fa fa-times"></i> &nbsp;Red Cross</strong>

            <div class="header-menu">
                <div class="menu-item"
                     ng-repeat="page in header.getPages()"
                     ng-click="header.setPage(page.slug)"
                     ng-class="{active:header.isCurrentPage(page.slug)}"
                >{{page.name}}</div>
            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="hero.html">
    <div class="hero">
        <div class="hero-banner" style="background-image: url('{{hero.img}}')">
            <div class="banner-overlay">
                {{hero.heading}}
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="about-screen.html">
    <div screen="about">

        <!-- one way pass values to component -->
        <hero-item
                img="https://unsplash.it/1200/500/?random&123"
                heading="About Angular Base"
        ></hero-item>
    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <!--&lt;!&ndash; one way pass values to component &ndash;&gt;-->
        <!--<hero-item-->
        <!--img="https://unsplash.it/1200/500/?random"-->
        <!--heading="Welcome to Angular Base"-->
        <!--&gt;</hero-item>-->

        <content-item>
            <content>

                <a ng-href="{{genPdfUrl()}}" target="_blank" class="butn hidden-print pull-right">Save as PDF</a>

                <p>
                    <strong>American Red Cross Biomedical Services Washington, DC 20006</strong>
                </p>

                <h1>Form: Trima Apheresis Procedure Record</h1>
                <!--<hr>-->
                <div class="flex-table">
                    <div class="flex-row">
                        <div class="flex-content">Doc No: ARC-DOC-011307</div>
                        <div class="flex-content">Subdiv: 15 - Collection - Procurement</div>
                        <div class="flex-content">Doc Level: 4 - Tool or Supporting Document</div>
                        <div class="flex-content">ARC Version: 6.4</div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-content">Level 4 Subtype: Form</div>
                        <div class="flex-content">Training Subtype:</div>
                        <div class="flex-content">Mang Fac: BHQ</div>
                    </div>
                </div>

                <div class="flex-table">
                    <div class="flex-row">
                        <div class="flex-field">
                            <div class="flex-label">Collection Date</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().collectionDate"></div>
                        </div>
                        <div class="flex-field">
                            <div class="flex-label">DIN</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().DIN"></div>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-field">
                            <div class="flex-label">Trima Maximo Number</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().TrimaNo"></div>
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="flex-header">1. Donor Information</div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-field">
                            <div class="flex-label">Last Name</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().LastName"></div>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-field">
                            <div class="flex-label">Hct</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().Hct"></div>
                        </div>

                        <div class="flex-field">
                            <div class="flex-label">Total Blood Volume (TBV)</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().TBV"></div>
                        </div>

                        <div class="flex-field">
                            <div class="flex-label">Platelet Pre-count</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().PlateletPreCount"></div>
                        </div>
                    </div>

                    <div class="flex-row">
                        <div class="flex-header"> 2. Supply Information</div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-field">
                            <div class="flex-label">Item</div>
                            <div class="flex-label" style="flex: 2;text-align: left;justify-content: flex-start">Lot No</div>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-field">
                            <div class="flex-label">ACD-A</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().ACDA"></div>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-field">
                            <div class="flex-label">0.9% Normal Saline</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().normalSaline"></div>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-field">
                            <div class="flex-label">Additive</div>
                            <div class="flex-input"><input placeholder="-" ng-model="getFormData().Additive"></div>
                        </div>
                    </div>
                </div>

                <p></p>


            </content>
        </content-item>

    </div>
</script>
<script src="public/lib.js"></script>
<script src="public/reimg.js"></script>
<script src="public/app.js"></script>

</body>
</html>