<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--to use real urls instead of hashes uncomment below-->
    <!--<base href="/">-->

    <title>Red Cross</title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/bootstrap.css"/>
    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,600,400italic,600italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body data-ng-app="app">

<div class="app">
    <div class="in-app" style="position: relative">
        <header-item></header-item>

        <!-- screen contents -->
        <div ui-view></div>
    </div>

</div>




<script type="text/ng-template" id="header.html">
    <div class="header">
        <div class="container-fluid">
            <strong><i class="fa fa-times"></i> &nbsp;Red Cross</strong>

            <div class="header-menu">
                <div class="menu-item"
                     ng-repeat="page in header.getPages()"
                     ng-click="header.setPage(page.slug)"
                     ng-class="{active:header.isCurrentPage(page.slug)}"
                >{{page.name}}</div>
            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="canvas.html">
    <div class="canvas">
        <!--<div class="container">-->
            <!--<h3>Sign here:</h3>-->
            <!--<br>-->
            <canvas id="canvas"></canvas>

        <div>
            <div class="butn hidden-print" ng-click="canvas.clear()">Clear</div>

        </div>

        <!--</div>-->
    </div>
</script>



<script type="text/ng-template" id="content.html">
    <div class="content" id="print_me">
        <div class="container-fluid">
            <div ng-transclude="content"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="table.html">
    <div class="flex-table" ng-transclude></div>
</script>

<script type="text/ng-template" id="table-contents.html">
    <div class="flex-row">
        <div class="flex-content" ng-repeat="item in contents.items track by $index">{{item}}</div>
    </div>
</script>

<script type="text/ng-template" id="table-row.html">
    <div class="flex-row" ng-transclude></div>
</script>

<script type="text/ng-template" id="table-header.html">
    <div class="flex-row">
        <div class="flex-header">{{header.label}}</div>
    </div>
</script>

<script type="text/ng-template" id="table-field.html">
    <div class="flex-field">
        <div class="flex-label">{{field.label}}</div>
        <div class="flex-input"><input placeholder="-" ng-model="getFormData()[field.id]"></div>
    </div>
</script>
<script type="text/ng-template" id="hero.html">
    <div class="hero">
        <div class="hero-banner" style="background-image: url('{{hero.img}}')">
            <div class="banner-overlay">
                {{hero.heading}}
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="about-screen.html">
    <div screen="about">

        <!-- one way pass values to component -->
        <hero-item
                img="https://unsplash.it/1200/500/?random&123"
                heading="About Angular Base"
        ></hero-item>
    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <content-item>
            <content>

                <a ng-href="{{genPdfUrl()}}" target="_blank" class="butn hidden-print pull-right">Save as PDF</a>

                <p>
                    <strong>American Red Cross Biomedical Services Washington, DC 20006</strong>
                </p>

                <h1>Form: Trima Apheresis Procedure Record</h1>

                <table-item>
                    <table-contents items="['Doc No: ARC-DOC-011307', 'Subdiv: 15 - Collection - Procurement', 'Doc Level: 4 - Tool or Supporting Document', 'ARC Version: 6.4']"></table-contents>
                    <table-contents items="['Level 4 Subtype: Form', 'Training Subtype:', 'Mang Fac: BHQ']"></table-contents>
                </table-item>

                <table-item>
                    <table-row>
                        <table-field label="Collection Date" id="collectionDate"></table-field>
                        <table-field label="DIN" name="id"></table-field>
                    </table-row>
                    <table-row>
                        <table-field label="Trima Maximo Number" id="TrimaNo"></table-field>
                    </table-row>

                    <table-header label="1. Donor Information"></table-header>
                    <table-row>
                        <table-field label="Last Name" id="lastName"></table-field>
                    </table-row>
                    <table-row>
                        <table-field label="Hct" id="Hct"></table-field>
                        <table-field label="Total Blood Volume (TBV)" id="TBV"></table-field>
                        <table-field label="Platelet Pre-count" id="plateletPreCount"></table-field>
                    </table-row>

                    <table-header label="2. Supply Information"></table-header>
                    <table-row>
                        <div class="flex-field">
                            <div class="flex-label">Item</div>
                            <div class="flex-label" style="flex: 2;text-align: left;justify-content: flex-start">Lot No</div>
                        </div>
                    </table-row>

                    <table-row>
                        <table-field label="ACD-A" id="ACDA"></table-field>
                    </table-row>
                    <table-row>
                        <table-field label="0.9% Normal Saline" id="normalSaline"></table-field>
                    </table-row>
                    <table-row>
                        <table-field label="Additive" id="Additive"></table-field>
                    </table-row>

                    <table-row>
                        <div class="flex-field">
                            <div class="flex-label">Signature</div>
                            <div class="flex-content">
                                <canvas-item class="hidden-print"></canvas-item>
                                <img class="visible-print" src="public/img/{{getFormData().savedImage}}" alt="">
                            </div>
                        </div>

                    </table-row>

                </table-item>

                <p>&nbsp;</p>

                <div ng-click="genPdf()" target="_blank" class="butn hidden-print">Save as PDF</div>

            </content>
        </content-item>

    </div>
</script>
<script src="public/lib.js"></script>
<script src="public/reimg.js"></script>
<script src="public/app.js"></script>

</body>
</html>