content-item {
  .content {
    font-size: 14px;
    font-weight: 500;
    padding: 15px;

    @include mobile {
      padding: 0px;
    }

    h1, h2, h3, h4, p {
      margin: 10px 0 0;
      padding: 10px 0 0;
    }

    h1 {
      font-size: 30px;
      font-weight: 200;
      padding-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-weight: 300;

      a {
        font-weight: 600;
        color: $primary;
      }
    }

  }
}