<script type="text/ng-template" id="form-screen.html">
    <div screen="form">

        <content-item>
            <content>

                <!--<a ng-href="{{genPdfUrl()}}" target="_blank" class="butn hidden-print pull-right">Save as PDF</a>-->
                <!--<a ng-href="{{genPdfUrl()}}" target="_blank" class="butn hidden-print pull-right" style="margin-right: 10px;">Scan Document</a>-->

                <p>
                    <strong>American Red Cross Biomedical Services Washington, DC 20006</strong>
                </p>

                <h1>Form: Trima Apheresis Procedure Record</h1>

                <table-item>
                    <table-contents items="['Doc No: ARC-DOC-011307', 'Subdiv: 15 - Collection - Procurement', 'Doc Level: 4 - Tool or Supporting Document', 'ARC Version: 6.4']"></table-contents>
                    <table-contents items="['Level 4 Subtype: Form', 'Training Subtype:', 'Mang Fac: BHQ']"></table-contents>
                </table-item>

                <table-item>
                    <table-header label="User Information"></table-header>
                    <table-row>
                        <table-field label="First Name" id="firstName"></table-field>
                        <table-field label="Last Name" id="lastName"></table-field>
                    </table-row>
                    <table-row>
                        <table-field label="Gender" id="gender"></table-field>
                        <table-field label="Date" id="date"></table-field>
                    </table-row>

                    <table-header label="Donor Details"></table-header>
                    <table-row>
                        <table-field label="Collection Date" id="collectionDate"></table-field>
                        <table-field label="DIN" name="id"></table-field>
                    </table-row>

                    <table-row>
                        <table-field label="Hct" id="Hct"></table-field>
                        <table-field label="Total Blood Volume (TBV)" id="TBV"></table-field>
                        <table-field label="Platelet Pre-count" id="plateletPreCount"></table-field>
                    </table-row>

                    <table-header label="Supply Information"></table-header>
                    <table-row>
                        <div class="flex-field">
                            <div class="flex-label">Item</div>
                            <div class="flex-label" style="flex: 2;text-align: left;justify-content: flex-start">Lot No</div>
                        </div>
                    </table-row>

                    <table-row>
                        <table-field label="ACD-A" id="ACDA"></table-field>
                    </table-row>
                    <table-row>
                        <table-field label="0.9% Normal Saline" id="normalSaline"></table-field>
                    </table-row>
                    <table-row>
                        <table-field label="Additive" id="Additive"></table-field>
                    </table-row>

                    <table-header label="Terms and conditions" class="hidden-print"></table-header>
                    <table-row>
                        <div class="flex-field sign-field">
                            <div class="flex-label sign-label">By signing this document you accept the following Terms and Conditions.</div>
                            <div class="flex-content sign-content">
                                <div class="butn" style="margin-right: 10px;">Terms &amp; Conditions</div>
                                <div class="butn">Privacy Agreement</div>
                            </div>
                        </div>
                    </table-row>

                    <table-header label="Signature"></table-header>
                    <table-row>
                        <div class="flex-field sign-field">
                            <div class="flex-label sign-label">Sign below</div>
                            <div class="flex-content sign-content">
                                <canvas-item class="hidden-print"></canvas-item>
                                <img class="visible-print" style="height: 300px;" src="public/img/{{getFormData().savedImage}}" alt="">
                            </div>
                        </div>

                    </table-row>

                </table-item>

                <p>&nbsp;</p>

                <div ng-click="genPdf()" class="butn hidden-print">Submit &nbsp; <i class="fa fa-check"></i></div>

            </content>
        </content-item>

    </div>
</script>