html, body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  height: 100vh; }
  @media print {
    html, body {
      background: white; } }

input, textarea {
  font-family: 'Source Sans Pro', sans-serif; }

body {
  min-width: 320px; }

.container {
  max-width: 100%; }

.fa {
  line-height: inherit; }

[screen] {
  opacity: 0;
  padding-top: 50px;
  transition: .3s; }
  @media print {
    [screen] {
      padding-top: 0; } }
  [screen].active {
    opacity: 1; }

a {
  color: #ED1B2E; }
  a, a:hover, a:visited, a:active {
    text-decoration: none; }

.butn {
  position: relative;
  background: #c51020;
  color: white;
  line-height: 40px;
  height: 43px;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  min-width: 150px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  border-bottom: 2px solid #670811;
  top: 0;
  text-decoration: none;
  cursor: pointer; }
  .butn.white {
    background: white;
    border-bottom: 2px solid #e6e6e6;
    color: #212121;
    margin-bottom: 15px; }
  .butn:hover {
    text-decoration: none;
    color: white;
    top: 2px;
    border-bottom-width: 0px; }
    .butn:hover.white {
      color: #212121; }

.sign-field {
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important; }

.sign-label {
  -webkit-flex: 1 0 100% !important;
      -ms-flex: 1 0 100% !important;
          flex: 1 0 100% !important;
  text-align: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.sign-content {
  -webkit-flex: 1 0 100% !important;
      -ms-flex: 1 0 100% !important;
          flex: 1 0 100% !important;
  text-align: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.flex-table {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  border: 1px solid #ddd;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0px 0 1px; }
  .flex-table .flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    border-top: 1px solid #ddd;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .flex-table .flex-row:first-child {
      border: none; }
    .flex-table .flex-row:last-child {
      margin-bottom: -1px; }
    .flex-table .flex-row .flex-header {
      background: #333;
      color: white;
      text-transform: uppercase;
      margin-left: -2px;
      margin-right: -1px;
      font-weight: 600;
      margin-top: 50px;
      font-size: 20px; }
      .flex-table .flex-row .flex-header:before {
        border-top: 1px solid #ddd;
        content: "";
        background: #fff;
        height: 20px;
        position: absolute;
        height: 52px;
        left: 0;
        right: 0;
        top: -52px; }
    .flex-table .flex-row .flex-content {
      padding: 10px 20px; }
    .flex-table .flex-row > div, .flex-table .flex-row .flex-field > div {
      min-height: 50px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 2 0 200px;
          -ms-flex: 2 0 200px;
              flex: 2 0 200px;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd !important;
      margin-top: -1px;
      margin-left: -1px;
      text-align: center;
      position: relative; }
    .flex-table .flex-row .flex-field {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-flex: 1 0 200px;
          -ms-flex: 1 0 200px;
              flex: 1 0 200px;
      border-top: 1px solid #ddd !important;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      @media (max-width: 767px) {
        .flex-table .flex-row .flex-field {
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          -webkit-flex: 1 0 100%;
              -ms-flex: 1 0 100%;
                  flex: 1 0 100%;
          margin-left: -1px; } }
    .flex-table .flex-row .flex-label, .flex-table .flex-row .flex-field div.flex-label {
      padding: 10px 20px;
      background: #f7f7f7;
      -webkit-flex: 1 0;
          -ms-flex: 1 0;
              flex: 1 0;
      text-align: right;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      font-weight: 700;
      color: #777; }
    .flex-table .flex-row .flex-input, .flex-table .flex-row .flex-field div.flex-input {
      -webkit-flex: 2 0;
          -ms-flex: 2 0;
              flex: 2 0;
      position: relative;
      padding: 0 20px;
      font-size: 20px;
      color: black;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px; }
      .flex-table .flex-row .flex-input input, .flex-table .flex-row .flex-field div.flex-input input {
        text-transform: uppercase;
        width: 100%;
        border: none;
        outline: none;
        line-height: 50px;
        min-height: 50px;
        color: #333; }

canvas-item .canvas canvas {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  cursor: crosshair;
  cursor: url("icons/pen-32.png") 0 32, auto; }

content-item .content {
  font-size: 14px;
  font-weight: 500;
  padding: 15px; }
  @media (max-width: 767px) {
    content-item .content {
      padding: 0px; } }
  content-item .content h1, content-item .content h2, content-item .content h3, content-item .content h4, content-item .content p {
    margin: 10px 0 0;
    padding: 10px 0 0; }
  content-item .content h1 {
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 10px; }
  content-item .content p {
    font-size: 16px;
    font-weight: 300; }
    content-item .content p a {
      font-weight: 600;
      color: #ED1B2E; }

confirm-item .confirm {
  margin-top: -50px;
  height: calc(100vh);
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: radial-gradient(ellipse at center, white 40%, #e6e6e6 90%);
  text-align: center;
  background: radial-gradient(ellipse at center, #ae0e1c 10%, #670811 90%); }
  confirm-item .confirm div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  confirm-item .confirm .confirm-header {
    color: white;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px; }
  confirm-item .confirm .confirm-img {
    max-width: calc(100% - 60px);
    width: 500px;
    margin-top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

header-item .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: #c51020;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: white; }
  @media print {
    header-item .header {
      display: none; } }
  header-item .header .fa-times {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  header-item .header strong {
    font-weight: 900; }
  header-item .header .header-menu {
    float: right; }
    header-item .header .header-menu .menu-item {
      float: left;
      line-height: 48px;
      padding: 0 30px;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      transition: .3s;
      cursor: pointer; }
      header-item .header .header-menu .menu-item.active {
        background: rgba(0, 0, 0, 0.1); }

hero-item .hero .hero-banner {
  height: 300px;
  position: relative;
  background: #eee;
  background-size: cover;
  background-position: center; }
  hero-item .hero .hero-banner .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-items: center;
    color: white;
    font-size: 50px;
    font-weight: 100; }

scan-item .scan {
  height: calc(100vh - 50px);
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: radial-gradient(ellipse at center, white 40%, #e6e6e6 90%);
  text-align: center; }
  scan-item .scan div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  scan-item .scan .scan-header {
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px; }
  scan-item .scan .scan-img {
    max-width: calc(100% - 60px);
    width: 500px;
    margin-top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

splash-item .splash {
  margin-top: -50px;
  height: calc(100vh);
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ae0e1c;
  position: relative;
  background: radial-gradient(ellipse at center, #ae0e1c 10%, #670811 90%); }
  splash-item .splash .splash-header {
    color: white;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px; }
  splash-item .splash .splash-buttons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    splash-item .splash .splash-buttons .butn {
      margin: 0; }
      splash-item .splash .splash-buttons .butn:first-child {
        margin-right: 50px; }
  splash-item .splash .splash-box {
    -webkit-flex: 1 1 300px;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px;
    width: 500px;
    max-width: calc(100vw - 100px);
    border-radius: 3px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

table-item table-row, table-item table-contents, table-item table-header {
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

table-item table-field {
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    table-item table-field {
      -webkit-flex: 1 0 100%;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%; } }
