<script type="text/ng-template" id="confirm.html">
    <div class="confirm">
        <div ng-show="confirm.isStatus('sending')">
            <div class="confirm-header">Generating Form &nbsp; <i class="fa fa-spin fa-cog"></i></div>
        </div>
        <div ng-show="confirm.isStatus('complete')">
            <div class="confirm-header"><span>Thank You &nbsp; <i class="fa fa-check"></i></span></div>
            <a class="butn white" ng-href="{{confirm.getFormUrl()}}" target="_blank">View Form</a>
            <div class="butn white" ui-sref="dashboard">Dashboard</div>
            <a class="butn white"
               ng-href="https://vassit2015-gbvassitservi00618.documents.us2.oraclecloud.com/documents/folder/FAF85E93D11BB6AEFDCBCF6FF9BD3A2A989DD2119B94/_PoC_Red_Cross/nameasc"
               target="_blank"
            >Oracle Documents Cloud</a>
        </div>
    </div>
</script>